**Data Description**

The project utilizes a comprehensive dataset containing information on COVID-19 assessment center locations: (location name, operator, physical address, phone number, website, public health unit, latitude, longitude, hours of operation, age restrictions, appointment requirements, service modalities).

download the dataset** Data columns (total 45 columns)

In [1]:
import pandas as pd

In [2]:
# Load the dataset
data_path = r'C:\Users\User PC\Desktop\DATA SET\assessment_centre_locations.csv'
df = pd.read_csv(data_path)

In [3]:
print("Column Names:", df.columns)

Column Names: Index(['testing_enrolled', 'location_id', 'assessment_centre', 'location_name',
       'operated_by', 'city', 'address', 'address_fr', 'postal_code',
       'province', 'latitude', 'longitude', 'phu', 'phone', 'website',
       'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'appointments',
       'phone_appointments', 'symptomatic', 'drive_through', 'accessible',
       'additional_information', 'saturday', 'sunday', 'online_appointments',
       'walk_ins', 'children_under_2', 'age_threshold', 'public_transit',
       'additional_information_fr', 'location_name_fr',
       'french_language_services', 'free_parking', 'weeks_pregnant',
       'general_population', 'asl_interpretation', 'email', 'first_nations',
       'community_lab', 'vaccine_enrolled', 'pharmacy'],
      dtype='object')

In [4]:
print(df.head())

   testing_enrolled  location_id  assessment_centre  \
0               1.0            1                1.0
1               NaN            2                1.0
2               NaN            3                1.0
3               NaN            4                1.0
4               1.0            5                1.0

                                   location_name  \
0                  Blanche River Health-Kirkland
1  South Georgian Bay Regional Assessment Centre
2                      Midland Assessment Centre
3                 COVID-19 Testing Clinic Milton
4           Oakville Trafalgar Memorial Hospital

                                 operated_by           city  \
0  Blanche River Health (Kirkland Lake site)  Kirkland Lake
1            Georgian Bay Family Health Team    Collingwood
2              Georgian Bay General Hospital        Midland
3                                  FH Health         Milton
4                 Halton Healthcare Services       Oakville

                    address                 address_fr postal_code province  \
0  145 Government Road East  145 chemin Government Est     P2N 3P4       ON
1        490 Ontario Street                        NaN     L9Y 1N6       ON
2    1156 St. Andrews Drive                        NaN     L4R 4P4       ON
3   725 Bronte Street South         725 rue Bronte Sud     L9T 9K1       ON
4        3001 Hospital Gate         3001 Hospital Gate     L6M 0L8       ON

   ...  french_language_services  free_parking weeks_pregnant  \
0  ...                       NaN           NaN            NaN
1  ...                       NaN           NaN            NaN
2  ...                       1.0           1.0            NaN
3  ...                       NaN           1.0            NaN
4  ...                       NaN           1.0            NaN

  general_population asl_interpretation email first_nations community_lab  \
0                NaN                NaN   NaN           NaN           NaN
1                NaN                NaN   NaN           NaN           NaN
2                NaN                NaN   NaN           NaN           NaN
3                NaN                NaN   NaN           NaN           NaN
4                NaN                NaN   NaN           NaN           NaN

  vaccine_enrolled pharmacy
0              NaN      NaN
1              NaN      NaN
2              NaN      NaN
3              NaN      NaN
4              NaN      NaN

[5 rows x 45 columns]

In data analysis, it is often crucial to distinguish between numerical and categorical data types. Numerical columns contain continuous or discrete numeric values, while categorical columns contain discrete categories or labels. This report details the process of separating numerical and categorical columns in the dataset and presents the identified columns.

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2244 entries, 0 to 2243
Data columns (total 45 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   testing_enrolled           569 non-null    float64
 1   location_id                2244 non-null   int64
 2   assessment_centre          299 non-null    float64
 3   location_name              2244 non-null   object
 4   operated_by                871 non-null    object
 5   city                       2244 non-null   object
 6   address                    2241 non-null   object
 7   address_fr                 171 non-null    object
 8   postal_code                2243 non-null   object
 9   province                   2244 non-null   object
 10  latitude                   2243 non-null   float64
 11  longitude                  2243 non-null   float64
 12  phu                        2243 non-null   object
 13  phone                      1197 non-null   object
 14  website                    2085 non-null   object
 15  monday                     2137 non-null   object
 16  tuesday                    2135 non-null   object
 17  wednesday                  2140 non-null   object
 18  thursday                   2129 non-null   object
 19  friday                     2125 non-null   object
 20  appointments               2210 non-null   float64
 21  phone_appointments         2000 non-null   float64
 22  symptomatic                857 non-null    float64
 23  drive_through              58 non-null     float64
 24  accessible                 169 non-null    float64
 25  additional_information     338 non-null    object
 26  saturday                   2052 non-null   object
 27  sunday                     1949 non-null   object
 28  online_appointments        1929 non-null   object
 29  walk_ins                   75 non-null     float64
 30  children_under_2           141 non-null    float64
 31  age_threshold              753 non-null    object
 32  public_transit             134 non-null    float64
 33  additional_information_fr  59 non-null     object
 34  location_name_fr           193 non-null    object
 35  french_language_services   64 non-null     float64
 36  free_parking               145 non-null    float64
 37  weeks_pregnant             2 non-null      object
 38  general_population         77 non-null     float64
 39  asl_interpretation         17 non-null     float64
 40  email                      18 non-null     object
 41  first_nations              8 non-null      float64
 42  community_lab              60 non-null     float64
 43  vaccine_enrolled           1804 non-null   float64
 44  pharmacy                   1876 non-null   float64
dtypes: float64(20), int64(1), object(24)
memory usage: 789.0+ KB
None